
{% extends 'adminhomebase.html' %}
           
{%block content%}
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">User Details</h6>
                        <a href="{% url 'createadminuser' %}">Create Admin</a>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    
                                    <th scope="col">First name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Last Login</th>
                                    <th scope="col">Admin</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Action</th>
                                    {% comment %} <th scope="col">Delete</th> {% endcomment %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in listofproducts %}
                                <tr>
                                    
                                    <td>{{i.first_name}}</td>
                                    <td>{{i.username}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.last_login}}</td>
                                    <td>{{i.is_admin}}</td>
                                    <td>{{i.is_staff}}</td>
                                    <form id='edit{{forloop.counter}}' action="{% url 'edit' pk=i.id %}" method="post">
                                    {% csrf_token %}
                                    {% if i.is_staff is True %}
                                    <td><button onclick="block('edit{{forloop.counter}}','{{i.first_name}}')" class="btn btn-sm btn-warning" type="submit">Block</button></td>
                                    </form>

                                    <form id ='unedit{{forloop.counter}}' action="{% url 'edit' pk=i.id %}"  method="post">
                                    {% csrf_token %}
                                    {% else %}
                                    <td><button onclick="unblock('unedit{{forloop.counter}}','{{i.first_name}}')" class="btn btn-sm btn-success" type="submit">Unblock</button></td>
                                    {% endif %}
                                    </form>
                                    

                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <nav class="mt-4" aria-label="Page navigation sample">
                {% if listofproducts.has_other_pages %}
                    <ul class="pagination ">
                        {% if listofproducts.has_previous %}
                        <li class="page-item "><a class="page-link bg-secondary text-white" href="?page={{listofproducts.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link bg-secondary text-white" href="#">Previous</a></li>
                        {% endif %}
            
                        {% for i in listofproducts.paginator.page_range %}
                            {% if listofproducts.number == i %}
                                <li class="page-item active"><a class="page-link bg-secondary text-white" href="">{{i}}</a></li>
                            {% else %}
                            <li class="page-item "><a class="page-link bg-secondary text-white" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
            
                        {% if listofproducts.has_next %}
                        <li class="page-item"><a class="page-link bg-secondary text-white" href="?page={{listofproducts.next_page_number}}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link bg-secondary text-white" href="">Next</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav> 

            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function block(x,name){
        console.log(name)
        Swal.fire({
            title: 'Do you want to block '+name+' ?',
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: 'Block',
            
          }).then((result) => 
          {
            /* Read more about isConfirmed, isDenied below */
            if (result.isDenied){
                event.preventDefault();
                console.log("block aakila")
            }
            else if (result.isConfirmed){
                console.log("blcok aaki")
                let form= document.getElementById(x)
                form.submit();
            }

           })
        event.preventDefault();
    }
    function unblock(x,name){
        console.log(name)
        Swal.fire({
            title: 'Do you want to unblock '+name+' ?',
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: 'Unblock',
            
          }).then((result) => 
          {
            /* Read more about isConfirmed, isDenied below */
            if (result.isDenied){
                event.preventDefault();
                console.log("block aakila")
            }
            else if (result.isConfirmed){
                console.log("blcok aaki")
                let form= document.getElementById(x)
                form.submit();
            }

           })
        event.preventDefault();
    }

</script>

{% endblock %}            <!-- Recent Sales End -->
